<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
  </head>
  <body class="flex justify-center items-center min-h-screen bg-gray-100">
    <div
      class="relative bg-black text-white text-sm rounded shadow p-6 w-2/3 lg:w-1/3 my-10"
    >
      <button
        id="copyButton"
        data-clipboard-target="#copyjson"
        class="absolute top-0 right-0 mt-2 mr-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-copy"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"
          />
        </svg>
      </button>
      <% if (json) { %>
      <pre id="copyjson" class="overflow-x-auto">
          <code class="text-sm">
            <%= JSON.stringify(json, null, 2) %>
          </code>
      </pre>
      <% } %>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        try {
          const clipboard = new ClipboardJS("#copyButton");
          clipboard.on("success", function (e) {
            console.log("Copied to clipboard");
            e.clearSelection();
          });
          clipboard.on("error", function (e) {
            console.error("Error copying to clipboard:", e);
          });
        } catch (error) {
          console.error("Error initializing ClipboardJS:", error);
        }
      });
    </script>
  </body>
</html>
