<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>csvtojson</title>
  </head>
  <body>
    <h1>upload file</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept=".csv" />
      <button type="submit">upload</button>
    </form>
  </body>
</html>
