<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>

    <style>
      pre {
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 5px;
      }
      #copyButton {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    </style>
  </head>
  <body>
    <% if (json) { %>
    <button id="copyButton" data-clipboard-target="#copyjson">Copy</button>
    <pre id="copyjson">
        <code >
          <%= JSON.stringify(json, null, 2) %>
        </code>
    </pre>
    <% } %>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        try {
          const clipboard = new ClipboardJS("#copyButton");
          clipboard.on("success", function (e) {
            console.log("Copied to clipboard");
            e.clearSelection();
          });
          clipboard.on("error", function (e) {
            console.error("Error copying to clipboard:", e);
          });
        } catch (error) {
          console.error("Error initializing ClipboardJS:", error);
        }
      });
    </script>
  </body>
</html>
